
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.image {
    width: 100%;
    height: 175px;
    background-color: gray;
    border-radius: 5px 5px 0 0;
    

}
.card {
    padding-left: 0px;
    padding-right: 0px;
}

 .logo {
    width: 5%;
 }
 .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item img {
    width: 100%;
    height: 550px; 
    object-fit: cover; 
    object-position: center; /* Centra la imagen */
  } 
.carouselTitle {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}
.carousel {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
   
}

.btn-primary {
  background-color: rgb(64, 146, 147);
  border: 1px solid lightblue;
}
Footer {
  background-color: #000; 
  color: #fff; 
  padding: 20px 0; 
}
.btn-primary:hover {
  background-color: rgb(23, 82, 101); 
  border-color: lightblue; 
}
